# Google Cloud Project Configuration
GOOGLE_CLOUD_PROJECT="your-gcp-project-id-here"
GOOGLE_CLOUD_LOCATION="global"
GOOGLE_GENAI_USE_VERTEXAI=TRUE

# SRE Resources & Skill Registry Region Location
GCP_RESOURCES_LOCATION="us-central1"

# Telemetry and OpenTelemetry Config for ADK
GOOGLE_CLOUD_AGENT_ENGINE_ENABLE_TELEMETRY=true
OTEL_SEMCONV_STABILITY_OPT_IN="gen_ai_latest_experimental"
OTEL_INSTRUMENTATION_GENAI_CAPTURE_MESSAGE_CONTENT=EVENT_ONLY
